<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yay!!,Isomorphic</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <style type="text/css">
      .container{
         padding:50pt;
      }
      #controls *{
        display: inline-block;
        padding:10pt;
      }
    </style>
  </head>
  <body>
    {{{ body }}}
    <script src="js/bundle.js"></script>
    <footer><center>Copyright &copy; Till the end of time!! &dot; Gurudatt</center></footer>
  </body>
</html>